=form_for @new_member, remote: true do |f|
    = f.text_field :name, {placeholder: "Name..."}
    = f.select :role, options_for_select(["Tank", "Healer", "RDPS", "MDPS"])
    = f.submit

:javascript
    $(document).ready(function() {
        $('select').formSelect();
    });