.table-view
    %h2 F A T G I R L Z
    .light Click on your name for armory link
    .light Click on your dps for simcraft link
    .light Be sure to actually click 'logout' to force the armory to update
    .light Sims updated hourly

    .table-wrap
        = render partial: "guild_table"
    .table-actions
        .new-member-form.inline
            = render partial: "new_member_form"
        .refresh-all.inline
            = link_to "REFRESH ALL", members_path(), remote: true
