console.log("HIT HERE");
console.log("HIT HERE");
console.log("HIT HERE");
console.log("HIT HERE");
console.log("HIT HERE");
alert();
$(.table-wrap).html("#{escape_javascript(render partial: 'guild/guild_table')}");